.footer
{
    height: 200px;
    background-color: white;
    padding: 10px 170px;
}
.footer_toptext > p
{
    color: #737373;
    font-size: 12px;
    padding-right: 15px;

}
.footer_toptext
{
    display: flex;
    padding-bottom:8px;
}
.footer_bottomtext > p
{
    color: #737373;
    font-size: 12px;
    padding-right: 15px;
}
.footer_bottomtext
{
    padding-top:8px ;
    display: flex;
}
.footer_bottom > p
{
    padding-top: 25px;
    color: #737373;
    font-size: 12px;
    padding-right: 15px;
}